/* blue/grey: #A1D2D4 */
/* light blue/grey: #B3D4DD */
/* dull purple: #9F9EAD */
/* bright purple: #B498BF */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

body * {
    font-family: 'Montserrat', sans-serif;
}


button {
  cursor: pointer;
}

#app {
    width: 300px;
    overflow-x: hidden;
    padding: 5px;
}
.header {
    background-color:  #B3D4DD;
}

.board-container {
    flex-wrap: wrap;
    display: flex;
    margin: 0.5rem 0px;

}

.cell {
    color: white;
    font-size: 3rem;
    text-align: center;
    padding: 2rem;
    background-color: #B3D4DD;
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
    width: 75px
}

#login {
    display: none;
}

#home {
    display: none;
}

#open-website {
    width: 100%;
    height: 3rem;
    background: #B498BF;
    color: white;
    font-size: 1rem;
    border: 2px solid #80688a;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#open-website .icon-plus {
    fill: white;
    padding-right: 0.3rem;
}