/* COLOURS
--cultured: #f8f8f8; rgba(248, 248, 248, 1);
--alice-blue: #dfeaf0; rgba(223, 234, 240, 1);
--columbia-blue: #bad9eb; rgba(186, 217, 235, 1);
--cadet-blue: #569493; rgba(86, 148, 147, 1);
--cyber-grape: #4c4475; rgba(76, 68, 117, 1);
--black-fogra: #121212; rgba(18, 18, 18, 1); */

body {
  background-color: #f8f8f8;
  font-family: 'Montserrat', sans-serif;
  color: #121212;
  font-size: 16px;
  width: 100%;
  margin: 0px 0px;
  overflow-wrap: break-word;
  margin-top: 69.33px;
}

.page > * {
  padding: 3% 4%;
}

/* TYPOLOGY */
h1, h2 {
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
  margin: 0px;
  color: #f8f8f8;
  font-weight: 700;
  font-size: 1.9em;
}

h2 {
  font-size: 1.4em;
  font-weight: 600;
}

h3 {
  font-size: 1.2em;
  font-weight: 600;
}

h4 {
  font-size: 1em;
}

@media only screen and (min-width:767px) {
  body {
    margin-top: 49.09px;
  }
  
  .page > * {
    padding: 3% 5%;
  }
  
  h1 {
    font-size: 2.2em;
  }
  
  h2 {
    font-size: 2em;
  }
}

@media only screen and (min-width:1023px) {
  .page > * {
    padding: 4% 10%;
  }
  
  h1 {
    font-size: 2em;
  }
  
  h2 {
    font-size: 1.8em;
  }
}

@media only screen and (min-width:1700px) {
  .page > * {
    padding: 3% 15%;
  }

  h3 {
    font-size: 1em;
  }
}


button {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  padding: 5% 7%;
  border-radius: 10px;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: #4c4475;
}

a:hover {
  color: #569493;
}

/* Tables */
li {
  list-style: none;
  text-align: center;
}

.nav {
  width: 100%;

}

.nav a {
  text-decoration: none;
  color: #ffffff;
  width: 100%;
}

a:hover {
  font-weight: bolder;
}

/* MASONRY GRID */
.posts {
  margin-left: 10px;
}

.grid-sizer, .grid-item {
  /* width: calc(50% - 10px); */
  width: calc(20% - 10px);

  /* vertical gutter */
  margin-bottom: 10px;
}

.grid-item img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.grid-item {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

/* Category Grids */
.categoryGrid, .categoryGridSpace {
  display: grid;
  margin: 0 10px;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.categoryGrid a, .categoryGridSpace a {
  height: 100%;
  margin: 0;
  padding: 0;
}

.category {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  position: relative;
  height: 160px;
}

.category img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
}

.category div {
  position: absolute;
  height: 160px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(18, 18, 18, 0.6);
  border-radius: 10px;
}

.category h3 {
  margin: 0;
  color: #f8f8f8;
  padding: 8%;
  line-height: 1.4em;
}

.addResource .categoryGrid, .addResource .categoryGridSpace {
  display: grid;
  margin: 0 10px;
  grid-template-columns: repeat(5, 1fr);
}

.addResource #create-resource-modal-button {
  grid-column: 3/4;
}

.text-only {
  background-color: #569493;
  color: #f8f8f8;
  border-radius: 10px 10px 0px 0px;
}

.link-only {
  background-color: #dfeaf0;
  border-radius: 10px;
}

.flexyflex {
  display: flex;
}

.linkIcon {
  padding: 16px 5px 16px 0px;
  font-size: 1.5em;
}

@media only screen and (min-width:767px) {
  .grid-sizer,
  .grid-item {
    width: calc(25% - 10px);
  }

  /* Category Grids */
  .categoryGrid, .categoryGridSpace {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
}

@media only screen and (min-width:1023px) {
  .grid-sizer,
  .grid-item {
    width: calc(20% - 10px);
  }

  /* Category Grids */
  .categoryGrid, .categoryGridSpace {
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }
}

@media only screen and (min-width:1700px) {
  .grid-sizer,
  .grid-item {
    width: calc(12.5% - 10px);
  }

  /* Category Grids */
  .categoryGrid, .categoryGridSpace {
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
  }
}


/* NAVIGATION */
/*Main Navbar */
#mainNavbarMenu {
  /* overflow: hidden; */
  position: fixed;
  height: 69.33px;
  width: 100%;
  display: flex;
  z-index: 10;
  top: 0px;
  background-color: #4c4475;
  align-items: center;
}

#mainNavbarMenu li {
  width: 100%;
}

#mainNavbarMenu a {
  display: block;
  padding: 20px 0px;
  font-weight: bold;
  transition: background-color 0.5s linear;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#burglinks {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 0px;
  background-color: #4c4475;
}

#mainNavbarMenu .logo {
  width: 40%;
}

#mainNavbarMenu .logo h1 {
  font-size: 1.5em;
}

#mainNavbarMenu .logo a:hover {
  background-color: inherit;
  color: white;
}

#mainNavbarMenu .logo li {
  padding-inline-start: 0px;
  width: 100%;
}


#mainNavbarMenu ul.logo {
  margin: 0;
  display: flex;
  padding-inline-start: 0px;
  z-index: inherit;
  justify-content: start;
}

.active {
  color: white;
  background-color: #6e65a4;
}

#mainNavbarMenu a:hover {
  color: #121212;
  background-color: white;
  text-decoration: none;
}

.userNav {
  display: flex;
  justify-content: right;
  width: 35%;
  padding-right: 10px;
}

@media only screen and (min-width: 767px) {
  #mainNavbarMenu {
    padding: 0px 5%;
    width: 90%;
    height: 49.09px;;
  }
  
  #mainNavbarMenu li {
    width: 30%;
  }

  
  #mainNavbarMenu a {
    padding: 15px 0px;
  }

  #mainNavbarMenu .logo h1 {
    font-size: 1.2em;
    line-height: 1em;
  }

  #mainNavbarMenu ul {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0px 0px;
    padding-inline-start: 0px;
  }

  #mainNavbarMenu .logo {
    width: 25%;
  }
  
  #burglinks {
    display: flex;
    width: 50%;
    background-color: rgba(20, 17, 19, 0);
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .hamburgerhide {
    display: none;
  }

  #burglinks .dropdown a {
    transition: background-color 0.5s linear;
  }

  .userNav {
    width: 25%;
  }
}

@media only screen and (min-width: 1023px) {
  #mainNavbarMenu {
    padding: 0px 10%;
    width: 80%;
  }

}

@media only screen and (min-width: 1700px) {
  #mainNavbarMenu {
    padding: 0px 15%;
    width: 70%;
  }

}


/* Search bar */

.searchBar {
  padding-bottom: 2%;
}

.searchBar form {
  width: 100%;
  justify-content: center;
  display: flex;
  position: relative;
  border-radius: 25px;
  align-items: center;
}

.searchBar .icon-search {
  cursor: pointer;
}

.searchBar .icon-search svg {
  height: 35px;
}

textarea {
  background-color: #dfeaf0;
  color: #121212;
  font-weight: 600;
  text-indent: 3%;
  border-radius: 25px;
  cursor: default;
  padding: 8px 0px;
  border: none;
  width: 80%;
  justify-content: center;
  resize: none;
}

input {
  width: 100%;
  color: #121212;
  font-weight: 600;
  text-indent: 5%;
  padding: 12px 0px;
  cursor: default;
  border: none;
  justify-content: center;
  display: flex;
  background-color: #dfeaf0;
  position: relative;
  border-radius: 25px;
  align-items: center;
}

input:focus {
  outline: #f6ae2d;
}

textarea:focus {
  outline: #f6ae2d;
}

textarea::placeholder {
  font: 700 1.2em 'Nunito', sans-serif;
  color: #121212;
  line-height: 1.5em;
}

input::placeholder {
  font: 700 1.2em 'Nunito', sans-serif;
  color: #121212;
  line-height: 1.5em;
}

/* FOOTER */
footer {
  background-color: #569493;
  padding: 30px;
  color: #121212;
  display: block;
  padding: 1% 10%;
}

footer ul {
  padding-left: 12px;
}

footer a {
  color: #121212;
}

footer a:hover {
  color: #dfeaf0;
}

.footermenuitems {
  padding-bottom: 40px;
}

footer .footermenuitems {
  justify-content: center;
}

.rowfooter {
  width: 100%;
  justify-content: space-between;
}

.socialmedialinks {
  padding-left: 12px;
}

.socialmedialinks i{
  padding-right: 5px;
}

@media only screen and (min-width: 425px) {
  .rowfooter {
      display: flex;
  }

  footer li {
      text-align: left;
  }
}  

@media only screen and (min-width: 769px) {
  footer {
      display: flex;
  }
}

/* MODAL POP-UP */
/* Modal Button */
.addItem {
  box-shadow: none;
}

.logoIMG {
  width: 80%;
  text-align: center;
  padding-bottom: 0;
}
.logoIMG img {
  height: 130px;
}

#create-resource-modal-button, #create-collection-modal-button, #create-space-modal-button {
  border: 0;
  font-size: 1em;
  background-color: #f8f8f8;
  transition: background-color 0.5s ease-out, color 0.5s ease-out, border 0.5s ease-out;
  border: 2px solid #555555;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  min-height: 90px;
}

#create-resource-modal-button h3, #create-collection-modal-button h3, #create-space-modal-button h3{
  color: #555555;
}

#create-resource-modal-button i, #create-space-modal-button i, #create-collection-modal-button i {
  font-size: 1.2em;
  margin-bottom: 5px;
}


#create-resource-modal-button:hover, #create-space-modal-button:hover, #create-collection-modal-button:hover {
  background-color: #569493;
  border: 3px solid #569493;
  transition: background-color 0.5s ease-out, color 0.5s ease-out, border 0.5s ease-out;
}

#create-resource-modal-button:hover h3, #create-collection-modal-button:hover h3, #create-space-modal-button:hover h3{
  color: #f8f8f8;
}

/* Pop-Up */
.modal {
  display: none;
  position: fixed; 
  z-index: 20; 
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  z-index: 30;
  position: fixed;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  padding: 10%;
  width: 70%;
  text-align: center;
}

.modal-content h1 {
  color: #6e65a4;
}

.modal-content h1 {
  margin-top: 5%;
  margin-bottom: 5px;
}

.modal-content h2 {
  margin-bottom: 4%;
}

.modal-content h3 {
  margin-bottom: 2%;
}

.modal-content > div {
  padding: 3% 0;;
}

.modal-content input {
  width: 100%;
  height: 2.1rem;
  line-height: 1.2rem;
}

.modal-content button {
  background-color: #4c4475;
  color: white;
}

.modal-content .title-link {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  column-gap: 1.5rem;
}

.modal-content textarea {
  width: 100%;
}

#board-options #boards {
  height: 2.35rem;
  width: 150px;
}

#create-board-button {
  background-color: #569493;
}

.close {
  color: #aaa;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 4em;
  line-height: 1em;
  padding-right: 10px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Hide create board form */
.create-board {
  display: none;
}

.hiddenLabel {
  display: none;
}

@media only screen and (min-width: 767px) {
  .modal-content {
    left: 10%;
    padding: 5%;
    text-align: left;
  }

  .modal-content div:last-of-type, .modal-content div:first-of-type {
    text-align: center;
  }

  .modal-content h3 {
    margin-left: 10px;
  }
}

@media only screen and (min-width: 1023px) {
  .modal-content {
    left: 31%;
    padding: 2% 4%;
    width: 30%;
  }

  .modal-content h1 {
    font-size: 1.8em;
    margin-top: 0;
  }
  
  .modal-content h2 {
    font-size: 1.2em;
    margin-bottom: 2%;
    width: 100%;
  }

  .modal-content h3 {
    font-size: 1em;
    margin-bottom: 1%;
  }
  
  .modal-content input {
    width: 100%;
    height: 1rem;
    line-height: 1rem;
  }

  .modal-content div {
    padding: 1%;
  }
}

/* SPACES */
.space {
  background-color: #569493;
  height: 10vh;
  margin: 0;
  display: flex;
  align-items: center;
}

.space h1 {
  text-align: center;
  width: 100%;
}

@media only screen and (min-width:767px) {
  .space h1 {
    text-align: left;
  }
}

/* User profile and messaging styling */
main, #messages-card {
  height: 100%;
  padding-bottom: 0;
}
#messages-card-container {
  height: calc(100% - 35px);
  padding-bottom: 0;
  margin-top: 30px
}
#messages-card {
  margin-top: 20px;
}
.mdl-layout__header-row span {
  margin-left: 15px;
  margin-top: 17px;
}
.mdl-grid {
  max-width: 1024px;
  margin: auto;
}
.material-icons {
  top: 8px;
  position: relative;
}
.mdl-layout__header-row {
  padding: 0;
  margin: 0 auto;
}
.mdl-button .material-icons {
  top: -1px;
  margin-right: 5px;
}

.mdl-card__supporting-text {
  width: auto;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
}
#messages {
  overflow-y: auto;
  margin-bottom: 10px;
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
}
#message-filler {
  flex-grow: 1;
}
.message-container:first-of-type {
  border-top-width: 0;
}
.message-container {
  display: block;
  margin-top: 10px;
  border-top: 1px solid #f3f3f3;
  padding-top: 10px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.message-container.visible {
  opacity: 1;
}
.message-container .pic {
  background-image: url('/images/profile_placeholder.png');
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: 30px;
  border-radius: 20px;
}
.message-container .spacing {
  display: table-cell;
  vertical-align: top;
}
.message-container .message {
  display: table-cell;
  width: calc(100% - 40px);
  padding: 5px 0 5px 10px;
}
.message-container .name {
  display: inline-block;
  width: 100%;
  padding-left: 40px;
  color: #bbb;
  font-style: italic;
  font-size: 12px;
  box-sizing: border-box;
}
#message-form {
  display: flex;
  flex-direction: row;
  width: calc(100% - 48px);
  float: left;
}
#image-form {
  display: flex;
  flex-direction: row;
  width: 48px;
  float: right;
}
#message-form .mdl-textfield {
  width: calc(100% - 100px);
}
#message-form button, #image-form button {
  width: 100px;
  margin: 15px 0 0 10px;
}
.mdl-card {
  min-height: 0;
}
.mdl-card {
  background: linear-gradient(white, #f9f9f9);
  justify-content: space-between;
}
#user-container {
  width: 50%;
  display: flex;
  align-items: center;
}

#user-container #user-pic {
  /* top: -3px; */
  position: relative;
  display: inline-block;
  background-image: url('/images/profile_placeholder.png');
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  background-size: 40px;
  border-radius: 20px;
}

#user-container #user-name {
  font-size: 16px;
  padding-right: 10px;
  padding-left: 10px;
  color: white;
}

#sign-in {
  margin-left: 10px;
}

#sign-in, #sign-out {
  background-color: #ffffff00;
  padding: 2% 3%;
  border: 2px solid #f8f8f8;
  color: #f8f8f8;
  font-weight: 600;
  font-size: 1em;
}

#sign-in:hover {
  background-color: #569493;
  border: 2px solid #569493;
  color: #121212;
}

#image-form #submitImage {
  width: auto;
  padding: 0 6px 0 1px;
  min-width: 0;
}
#image-form #submitImage .material-icons {
  top: -1px;
}
.message img {
  max-width: 300px;
  max-height: 200px;
}
#mediaCapture {
  display: none;
}

header {
  height: 113px;
  padding-bottom: 80px !important;
}

#user-container #user-pic {
  /* top: 2px; */
  width: 33px;
  height: 33px;
  background-size: 33px;
}

.singleResource {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 10% 4% 10%;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#must-signin-snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#must-signin-snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/* RESOURCE */
/* Add some padding inside the card container */

.resourceImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.resourceHeading {
  color: #121212;
  padding: 0;
  margin: 0;
}

.resourceLink {
  width: fit-content;
  padding-top: 0;
}

.comments {
  width: 100%;
  height: 500px;
  background-color: #dfeaf0;
}


/* Descriptions */

.category-description {
  width: calc(94% - 20px);
  padding: 4%;
  text-align: center;
  margin: 10px;
}

@media only screen and (min-width:767px) {
  .category-description {
    width: 50%;
    padding: 5%;
    text-align: left;
  }
}

@media only screen and (min-width:1023px) {
  .category-description {
    width: 50%;
    padding: 0 10%;
    padding-top: 5%;
    text-align: left;
  }
}